[Desktop Entry]
Encoding=UTF-8
Name=Link to Definition 
Type=Link
URL=file:///home/jordan/linear-algebra-book/eng/Ch1Sec3ExampleVectorSpace.html
Icon=text-html
